@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;600;700&display=swap');

html, body {
    margin: 0 0;
    padding: 0 0;
    background: black;
    color: white;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.fullpage {
    height: 100%;
}

h1, h2, p, h3 {
    margin: 0 0;
}

select {
    height: 30px;
    background: black;
    border: none;
    color: white;
}
